<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd"
        >

    <bean id="invoker" class="tasks.Invoker">
        <property name="producer" ref="producerTemplate"/>
    </bean>
    
    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <camel:template id="producerTemplate"/>
        <route>
            <from uri="direct:start"/>
            <to uri="activemq:queue:startQ"/>
        </route>
    </camelContext>

 </beans>